go 1.21.1

use (
	./GoLang/GoByExample/01.HelloWorld/
	./GoLang/GoByExample/02.Values/
	./GoLang/GoByExample/03.Variables/
	./GoLang/GoByExample/04.Constants/
	./GoLang/GoByExample/05.For/
	./GoLang/GoByExample/06.IfElse/
	./GoLang/GoByExample/07.Switch/
	./GoLang/GoByExample/08.Arrays/
	./GoLang/GoByExample/09.Slices/
	./GoLang/GoByExample/10.Maps/
	./GoLang/GoByExample/11.Range/
	./GoLang/GoByExample/12.Functions/
	./GoLang/GoByExample/13.MultipleReturnValues/
	./GoLang/GoByExample/14.VariadicFunctions/
	./GoLang/GoByExample/15.Closures/
	./GoLang/GoByExample/16.Recursion/
	./GoLang/GoByExample/17.Pointers/
	./GoLang/GoByExample/18.StringsAndRunes/
	./GoLang/GoByExample/19.Structs/
	./GoLang/GoByExample/20.Methods/
	./GoLang/GoByExample/21.Interfaces/
	./GoLang/GoByExample/22.StructEmbedding
	./GoLang/GoByExample/23.Generics
	./GoLang/GoByExample/24.Errors
	./GoLang/GoByExample/25.Goroutines
	./GoLang/GoByExample/26.Channels
	./GoLang/GoByExample/27.ChannelBuffering
	./GoLang/GoByExample/28.ChannelSynchronization
	./GoLang/GoByExample/29.ChannelDirections
	./GoLang/GoByExample/30.Select
	./GoLang/GoByExample/31.Timeouts
	./GoLang/GoByExample/32.NonBlockingChannelOperations
	./GoLang/GoByExample/33.ClosingChannels
	./GoLang/GoByExample/34.RangeOverChannels
	./GoLang/GoByExample/35.Timers
	./GoLang/GoByExample/36.Tickers
	./GoLang/GoByExample/37.WorkerPools
	./GoLang/GoByExample/38.WaitGroups
	./GoLang/GoByExample/39.RateLimiting
	./GoLang/GoByExample/40.AtomicCounters
	./GoLang/GoByExample/41.Mutexes
	./GoLang/GoByExample/42.StatefulGoroutines
)